<div class="row">
  <div class="col-md-1">&nbsp;
  </div>
  <div class="col-md-3" >

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-light">
  <div class="field ">
    <%= f.label :name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :name %>
  </div>
  <div class="field ">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="field ">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="actions" align="right">
    <br><br>
    <%= f.submit :class=>"btn btn-success"%>
  </div>
</div>
<% end %>
</div>
</div>
