<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h1 class="text-primary">Listing Notes</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table align="center"><tr><td align="center">
    <%= link_to 'New Note', new_note_path, :class=>"btn btn-success" %>
  </td></tr></table>
  </div>
</div>
<div class="row">

  <% @notes.each do |note| %>
  <% if note.user_id == session[:user] %>
    <div class="col-md-3 ">
      <table style="background-image: url('../../postit2.png'); background-repeat: no-repeat;">
          <tr><td colspan="3" align="center"><br><br>
            <textarea style ="background: transparent" cols="15" rows="3"><%= note.text %></textarea>
          </td></tr>

          <tr>
            <td colspan="3" align="center"><%= note.user_id %><br>
              <%= image_tag note.image.thumb.url %>
              <%= note.title %>  
              <br><br><br>
            </td>
          </tr>
          <tr>
            <td><%= link_to 'Show', note, :class=>"btn btn-success" %></td>
            <td><%= link_to 'Edit', edit_note_path(note), :class=>"btn btn-warning" %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
          </tr>
      </table>
    </div>
  <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12" ><br>
    <table align="center"><tr><td align="center">
    <%= link_to 'New Note', new_note_path, :class=>"btn btn-success" %>
  </td></tr></table>
  </div>
</div>