<div class="row">
  <div class="col-md-12">
	<p id="notice"><%= notice %></p>
   </div>
</div>

<div class="row">
  <div class="col-md-1">&nbsp;
  </div>
  <div class="col-md-7" style="background-image: url('../../postit.png'); background-repeat: no-repeat;">
<br><br><br>

<table>
  <tr><td>&nbsp;&nbsp;</td>
  	<td>
  	<p><strong>User:</strong><%= @note.user_id %></p>
	<p><strong>Text:</strong></p>
		<textarea style ="background: transparent" cols="37" rows="4"><%= @note.text %></textarea>
	<p><strong>&nbsp;&nbsp;Image:</strong><%= image_tag @note.image.thumb.url %></p>
	<p><strong>&nbsp;&nbsp;Title:</strong><%= @note.title %></p>
	<br><br><br><br>
	</td>
  </tr>
</table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
	<%= link_to 'Edit', edit_note_path(@note) %> |
	<%= link_to 'Back', notes_path %>
  </div>
</div>
